:root{
    --bg-color: #c6ccec;
    --inverted-bg-color: #6f82f0;
    --primary-color: rgb(76, 77, 76);
    --secondary-color: rgb(114, 114, 114);

    --inverted-primary-color: rgb(3, 33, 47);
    --inverted-secondary-color: rgb(1, 34, 8);
} 